# {{ ansible_managed }}

server {
    listen 80;
    listen [::]:80;
    server_name {{ bbb_hostname }};
    return 301 https://$host$request_uri;
}

server {
  listen 443 ssl http2 default_server;
  listen [::]:443 ssl http2 default_server;
  server_name {{ scalelite.hostname }};
  {% if scalelite.ssl_cert is defined %}
    ssl_certificate {{ scalelite.ssl_cert }};
  {% else %}
    ssl_certificate /etc/letsencrypt/live/{{ scalelite.hostname }}/fullchain.pem;
  {% endif -%}
  {% if scalelite.ssl_key is defined %}
    ssl_certificate_key {{ scalelite.ssl_key }};
  {% else %}
    ssl_certificate_key /etc/letsencrypt/live/{{ scalelite.hostname }}/privkey.pem;
  {% endif %}
    ssl_session_cache shared:SSL:10m;
    ssl_session_timeout 10m;
    ssl_protocols TLSv1.2;
    ssl_ciphers "ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS:!AES256";
    ssl_prefer_server_ciphers on;
{% if scalelite.nginx_dh %}
    ssl_dhparam /etc/nginx/ssl/dhp-4096.pem;
{% endif %}

{% if scalelite.nginx_privacy %}
  error_log /var/log/nginx/bigbluebutton.error.log;
  access_log /dev/null;
{% else %}
  access_log  /var/log/nginx/bigbluebutton.access.log;
{% endif %}


# scalelite api proxy
location / {
  proxy_pass http://127.0.0.1:3000;

  proxy_read_timeout 60s;
  proxy_redirect off;

  proxy_set_header  Host $http_host;

  proxy_set_header  X-Real-IP $remote_addr;
  proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header  X-Forwarded-Proto $scheme;

  proxy_headers_hash_bucket_size 64;

  proxy_http_version 1.1;
}


# /etc/bigbluebutton/nginx/notes-playback.nginx
  location /notes {
    root    /var/bigbluebutton/published;
    index  index.html index.htm;
  }

# /etc/bigbluebutton/nginx/podcast.nginx
  location /podcast {
    root    /var/bigbluebutton/published;
    index  index.html index.htm;
  }


# /etc/bigbluebutton/nginx/presentation.nginx
	location /playback/presentation/playback.html {
		return 301 /playback/presentation/0.81/playback.html?$query_string;
		# If you have recordings from 0.9.0 beta versions and are sure
		# that you will never want to play recordings made with
		# BigBlueButton 0.81, comment the line above and uncomment the
		# following line:
		#return 301 /playback/presentation/0.9.0/playback.html?$query_string;
	}

  location /playback/presentation {
    root    /var/bigbluebutton;
    index  index.html index.htm;
  }

  location /presentation {
    root    /var/bigbluebutton/published;
    index  index.html index.htm;
  }


# /etc/bigbluebutton/nginx/recording-screenshare.nginx
  location /recording/screenshare {
    alias    /var/bigbluebutton/published/screenshare;
    index  index.html index.htm;
  }

{% if scalelite.greenlight_enable %}
  include {{ greenlight__nginx_confdir }}/*
{% endif %}

  #error_page  404  /404.html;

  # Redirect server error pages to the static page /50x.html
  #
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /var/www/nginx-default;
  }
}
