[Unit]
Description=scalelite bin/start-poller
Documentation=https://github.com/roles-ansible/role-scalelite.git
After=network.target

[Service]
RestartSec=2s
Type=simple
User={{ scalelite.user }}
Group={{ scalelite.user }}
WorkingDirectory={{ scalelite.path }}
ExecStart={{ scalelite.path }}/bin/start-poller
EnvironmentFile={{ scalelite.path }}/.env
Restart=always

[Install]
WantedBy=multi-user.target
