[Unit]
Description=scalelite bin/start
After=network.target

[Service]
RestartSec=2s
Type=simple
User={{ scalelite.user }}
Group={{ scalelite.user }}
WorkingDirectory={{ scalelite.homepath }}/scalelite-git
ExecStart={{ scalelite.homepath }}/scalelite-git/bin/start
EnvironmentFile={{ scalelite.homepath }}/scalelite-git/.env
Restart=always

[Install]
WantedBy=multi-user.target
