[Unit]
Description=scalelite bin/start-poller
After=network.target

[Service]
RestartSec=2s
Type=simple
User={{ scalelite.user }}
Group={{ scalelite.user }}
WorkingDirectory={{ scalelite.homepath }}/scalelite-git
ExecStart={{ scalelite.homepath }}/scalelite-git/bin/start-poller
Environment=TINI_SUBREAPER="1"
Restart=always

[Install]
WantedBy=multi-user.target
